/**************** extend css start ****************/
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins:300,400,500,600,700|poppins:300,400,500,700&display=swap");

/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_extends.scss */
s .form-contact .form-group .btn_1 i {
  background-image: linear-gradient(to left, #00b4ff 0%, #57ddff 51%, #00b4ff 100%);
}

/* line 8, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_extends.scss */
.form-contact .form-group .btn_1 {
  background-image: linear-gradient(to left, #fff 0%, #fff 51%, #fff 100%);
}

/**************** extend css start ****************/
/**************** common css start ****************/
/* line 3, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
body {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
}


/* Navbar Brand */
.navbar-brand {
  width: 12rem;
  margin-top: 1rem;
}

/* tabeltambah di create */
.tabeltambah {
  width: 80vw;
}

.font_table{
  font-size: 0.9rem;
  font-style: bold;
}

/* end tabeltambah */


/* line 9, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.message_submit_form:focus {
  outline: none;
}

/* line 12, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
input:hover,
input:focus {
  outline: none !important;
}

/* class banner pemisah */
.section {
  background-image: url("../img/beach_banner.jpg");
}
.section .card{
  background-color: rgba(0, 0, 0, 0.4) /* Green background with 30% opacity */
  
}
/* banner 2 */
.section2 {
  background-image: url("../img/bukit_banner.jpg");
}
.section2 .card{
  background-color: rgba(0, 0, 0, 0.4) /* Green background with 30% opacity */ 
}
/* banner 3 */
.section3 {
  background-image: url("../img/beach2_banner.jpg");
}
.section3 .card{
  background-color: rgba(0, 0, 0, 0.4) /* Green background with 30% opacity */
  
}

#call-to-action {
  padding: 120px 0px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.cta-content h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  
}

.cta-content h2 em {
  font-style: normal;
  color: #ffcc00;
}

.cta-content p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: -18px 0px 15px 0px;
}

/* class banner pemisah selesai */

/* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.section_padding {
  padding: 180px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_padding {
    padding: 100px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

@media (max-width: 576px) {

  /* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
  
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

/* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.single_padding_top {
  padding-top: 100px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .single_padding_top {
    padding-top: 20px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media (max-width: 576px) {

  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .single_padding_top {
    padding-top: 100px !important;
  }
}

/* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.padding_top {
  padding-top: 180px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_top {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_top {
    padding-top: 100px;
  }
}

@media (max-width: 576px) {

  /* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_top {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_top {
    padding-top: 100px;
  }
}

/* line 63, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.padding_bottom {
  padding-bottom: 180px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 63, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 63, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media (max-width: 576px) {

  /* line 63, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 63, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 70px;
  }
}

/* line 78, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.margin_bottom {
  margin-bottom: 180px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 78, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .margin_bottom {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {

  /* line 78, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .margin_bottom {
    margin-bottom: 0;
  }
}

/* line 87, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 90, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
a:hover {
  outline: none;
  text-decoration: none;
}

/* line 96, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #14182d;
  font-family: "Poppins", sans-serif;
}

/* line 100, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
p {
  font-family: "poppins", sans-serif;
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
  color: #7a7a7a;
  font-weight: 300;
}

/* line 108, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
h2 {
  font-size: 44px;
  line-height: 28px;
  color: #14182d;
  font-weight: 600;
  line-height: 1.222;
}

@media (max-width: 576px) {

  /* line 108, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 108, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  h2 {
    font-size: 24px;
    line-height: 25px;
  }
}

/* line 125, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
h3 {
  font-size: 24px;
  line-height: 25px;
}

@media (max-width: 576px) {

  /* line 125, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  h3 {
    font-size: 20px;
  }
}

/* line 134, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
h5 {
  font-size: 18px;
  line-height: 22px;
}

/* line 139, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
/* img {
  max-width: 100%;
} */

/* line 142, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
a:focus,
.button:focus,
button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

/* line 149, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.section_tittle {
  margin-bottom: 72px;
}

@media (max-width: 991px) {

  /* line 149, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 149, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle {
    margin-bottom: 40px;
  }
}

/* line 157, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.section_tittle img {
  margin-bottom: 40px;
}

/* line 160, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.section_tittle h2 {
  font-size: 36px;
  color: #14182d;
  line-height: 52px;
  font-weight: 500;
  position: relative;
  margin-bottom: 27px;
}

@media (max-width: 576px) {

  /* line 160, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 160, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 160, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 160, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

/* line 188, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.section_tittle p {
  color: #000;
  text-transform: capitalize;
  line-height: 30px;
  font-family: "poppins", sans-serif;
  font-style: italic;
}

@media (max-width: 576px) {

  /* line 188, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 188, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 188, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 188, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}

/* line 208, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 213, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.mb_110 {
  margin-bottom: 110px;
}



@media (max-width: 576px) {

  /* line 213, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .mb_110 {
    margin-bottom: 220px;
  }
}

/* line 220, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.mt_130 {
  margin-top: 130px;
}
.pt_130 {
  margin-bottom: 130px !important;
}

@media (max-width: 576px) {

  /* line 220, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
  .pt_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 220, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
  .pt_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 220, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
  .pt_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 220, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
  .pt_130 {
    margin-bottom: 70px;
  }
}

/* line 235, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.mb_130 {
  margin-bottom: 140px;
}

@media (max-width: 991px) {

  /* line 235, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .mb_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 235, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .mb_130 {
    margin-bottom: 100px;
  }
}

/* line 244, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.padding_less_40 {
  margin-bottom: -50px;
}

/* line 247, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
.z_index {
  z-index: 9 !important;
  position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 3640px) {

  /* line 253, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {

  /* line 258, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_common.scss */
  [class*="hero-ani-"] {
    display: none !important;
  }
}

/**************** common css end ****************/
/* Main Button Area css
============================================================================================ */
/* line 3, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.submit_btn {
  width: auto;
  display: inline-block;
  background: #fff;
  padding: 0px 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #edeff2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 19, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.submit_btn:hover {
  background: transparent;
}

/* line 24, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.read_btn,
.btn1 {
  font-size: 17px;
  color: #000;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 32, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.read_btn:hover,
.btn1:hover {
  color: #00c0ff;
}

/* line 36, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.btn_1 {
  display: inline-block;
  padding: 13px 40px;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  border: 1px solid transparent;
  background-color: #ffcc00;
  border: 2px solid transparent;
}

/* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.btn_1:hover {
  color: #ffcc00;
  border: 2px solid #ffcc00;
  background-color: transparent;
}

@media (max-width: 576px) {

  /* line 36, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 36, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 36, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

/* line 71, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.btn_2 {
  display: inline-block;
  padding: 18.5px 40px;
  /* bonavbarder-radius: 5px; */
  background-color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  border: 1px solid #8f9091;
  background-size: 200% auto;
}

/* line 86, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.btn_2:hover {
  color: #fff !important;
  border: 1px solid #ffcc00;
  background-position: right center;
}

@media (max-width: 576px) {

  /* line 71, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .btn_2 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 71, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .btn_2 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 71, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .btn_2 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

/* line 108, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.btn_4 {
  color: #ffcc00;
  font-size: 15px;
  font-weight: 700;
  margin-top: 53px;
  display: inline-block;
}

@media (max-width: 991px) {

  /* line 108, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .btn_4 {
    margin-top: 30px;
  }
}

/* line 120, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.btn_4 img {
  width: 20px;
  margin-left: 15px;
}

/*=================== custom button rule start ====================*/
/* line 128, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.button {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #edeff2;
  text-transform: uppercase;
  background-color: #ffcc00;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 767px) {

  /* line 128, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
  .button {
    font-size: 13px;
    padding: 9px 24px;
  }
}

/* line 147, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.button:hover {
  color: #fff;
}

/* line 152, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.button-link {
  letter-spacing: 0;
  color: #3b1d82;
  border: 0;
  padding: 0;
}

/* line 158, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.button-link:hover {
  background: transparent;
  color: #3b1d82;
}

/* line 164, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.button-header {
  color: #fff;
  border-color: #edeff2;
}

/* line 168, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.button-header:hover {
  background: #b8024c;
  color: #fff;
}

/* line 174, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_button.scss */
.button-contactForm {
  color: #fff;
  border-color: #edeff2;
  padding: 12px 25px;
}

/* End Main Button Area css
============================================================================================ */

/**************menu part start*****************/
/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 9, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0px;
}

/* line 14, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu .navbar {
  padding: 0px;

}

/* line 20, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link {
  color: #fff;
  font-size: 15px;
  padding: 36px 23px;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
}

/* line 29, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link:hover {
  color: #ffcc00;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 20, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 20px;
  }
}

/* line 41, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu #search_1 i {
  color: #fff;
}

/* line 46, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu #search_input_box {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1140px;
  z-index: 999;
  text-align: center;
  background: #ffcc00;
}

/* line 60, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu #search_input_box ::placeholder {
  color: #fff;
}

@media (max-width: 991px) {

  /* line 46, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu #search_input_box {
    margin-top: 15px;
  }
}

/* line 70, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu #search_input_box .form-control {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
}

/* line 79, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu #search_input_box .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

/* line 86, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu #search_input_box .ti-close {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  padding-right: 0;
}

/* line 95, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu .search-inner {
  padding: 5px 5px;
}

/* line 99, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu .form-control:focus {
  box-shadow: none;
}

/* line 103, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.main_menu .active_color {
  color: #ffcc00 !important;
}

/* line 108, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.cart {
  margin-left: 20px;
}

/* line 110, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.cart .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border: 0px solid transparent;
}

/* line 118, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.cart i {
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 15px;
}

/* line 124, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.cart i:after {
  position: absolute;
  border-radius: 50%;
  background-color: #f13d80;
  width: 14px;
  height: 14px;
  right: -8px;
  top: -8px;
  content: "5";
  text-align: center;
  line-height: 15px;
  font-size: 10px;
}

/* line 141, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  background-color: #72BCC6;
}

/* line 149, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.menu_fixed .active_color {
  color: #ffcc00 !important;
}

/* line 155, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #ffcc00;
}

/* line 164, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 20px !important;
  color: #fff !important;
  background-color: #ffcc00;
  text-transform: capitalize;
}

/* line 175, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 991px) {

  /* line 184, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu {
    padding: 26px 0px;
  }

  /* line 188, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .home_menu .main-menu-item {
    padding-left: 0px;
  }

  /* line 192, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu .main-menu-item {
    text-align: left !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin-top: -9px;
  }

  /* line 196, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }

  /* line 199, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item .nav-link {
    padding: 5px 15px !important;
    color: #000;
  }

  /* line 206, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }

  /* line 217, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }

  /* line 224, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #ffcc00;
  }

  /* line 231, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .dropdown .dropdown-item:hover {
    color: #ffcc00 !important;
  }

  /* line 236, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }


  /* line 241, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .menu_icon i {
    color: #fff;
  }
}

@media (max-width: 576px) {

  /* line 248, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu {
    padding: 20px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 254, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
  .main_menu {
    padding: 20px 0px;
  }
}

/* line 259, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

/* line 265, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* line 272, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.home_menu .menu_btn:hover a {
  color: #fff !important;
}

/* line 277, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.home_menu .main-menu-item {
  justify-content: center !important;
}

/* line 283, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.single_page_menu .main-menu-item {
  justify-content: flex-end;
}

/* line 288, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_menu.scss */
.single_page_menu .main-menu-item ul li .nav-link:hover {
  color: #ffcc00 !important;
}

/* view_banner */
.view_banner{
  position: relative;
  background-image: url("../img/banner_bg.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}
/* view_banner end */
/**************** banner part css start ****************/
/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */

.banner_part {
  position: relative;
  background-image: url("../img/banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  /*background-color: #ffcc00;*/
}

/* slide photo */
.banner_part .photoslide {
  padding-top: 200px;
  margin-top: 10rem;
}


@media (max-width: 991px) {

  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
  .banner_part {
    height: 700px;
  }
}

/* line 26, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
.banner_part .banner_text {
  padding-top: 235px;
}



/* line 28, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
.banner_part .banner_text h5 {
  font-size: 36px;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 40px;
  font-weight: 200;
  color: #fff;
  font-family: "poppins", sans-serif;
  margin-bottom: 34px;
}

@media (max-width: 991px) {

  /* line 28, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
  .banner_part .banner_text h5 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}


.banner_part .banner_text h2 {
  font-size: 33px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 75px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.banner_part .banner_text h6 {
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 200;
  color: #fff;
  position: relative;
  z-index: 1;
}

/* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
.banner_part .banner_text h1 {
  font-size: 66px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 75px;
  color: #fff;
  position: relative;
  z-index: 1;
}

@media (max-width: 576px) {

  /* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }

  .banner_part .banner_text {
    padding-top: 170px;
  }
  .banner_part .banner_text h5 {
    font-size: 22px;
  }
  .banner_part .banner_text h6 {
    font-size: 22px;
  }

  .banner_part {
    position: relative;
    background-image: url("../img/banner_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /*background-color: #ffcc00;*/
  }

}

/* register part */
.card-body{
  height: fit-content !important;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 81, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_banner.scss */
.banner_part .banner_text h1 span {
  color: #ffcc00;
}

/**************** hero part css end ****************/
/************** search css start ***************/
/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_search.scss */
.search_your_country {
  max-width: 1690px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  margin-top: -254px;
  padding: 2rem 0;
  min-height: 80vh;
}

@media (max-width: 991px) {

  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_search.scss */
  .search_your_country {
    padding: 70px 0;
    margin-top: -70px;
  }
}

/* line 14, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_search.scss */
.search_your_country .container-fluid {
  max-width: 980px;
}

@media (max-width: 991px) {

  /* line 14, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_search.scss */
  .search_your_country .container-fluid {
    max-width: 90%;
  }
}

/*promo text*/
.promo_text h3 {
  font-size: 33px;
  text-transform: capitalize;
  font-weight: 700;
  color: #60B2BE;
  text-align: center !important;
  /* z-index: 1; */
}

@media (max-width: 991px) {
  .search_your_country .promo_text h3 {
    font-size: 30px;
    top: -40px;
    color: #60B2BE;
  }


  /**************** service_part css start ****************/
  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_feature_part.scss */
  .international_section {
    max-width: 1690px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  margin-top: -254px;
  padding: 2rem 0;
  min-height: 80vh;
}

@media (max-width: 991px) {

  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_search.scss */
  .international_section {
    padding: 70px 0;
    margin-top: -70px;
  }
}

/* line 14, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_search.scss */
.international_section .container-fluid {
  max-width: 980px;
}

@media (max-width: 991px) {

  /* line 14, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_search.scss */
  .international_section .container-fluid {
    max-width: 90%;
  }
}

  /* card section */

  /* Domestic_Section */
  #domestic_section {
    min-height: 80vh;
  }


  /* @media (max-width: 991px) { */

  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_footer.scss */
  /* #domestic .card {
      height: fit-content;
    }
  } */

  /* @media only screen and (min-width: 992px) and (max-width: 1200px) { */

  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_footer.scss */
  /* #domestic .card {
      height: fit-content;
    }
  } */
}

/********* sign in *************/
/* .sign_in{
  width: fit-content;
} */
.sign_in .inhere .card {
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.sign_in .banner_part {

  background-position: top !important;
}

.sign_in .inhere {
  margin: 200px;
}

/* sign up */

/* .sign_up .inhere {
  margin: 300px !important;
  text-align: center;
  font-family: "poppins, sans-serif";
}
.sign_up .inhere .card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20rem;
  background-color: rgba(0, 0, 0, 0.5) !important;
} */

/************about_us css start***************/

#about_us {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.about_us p {
  font-family: 'poppins, sans-serif';
  font-weight: 300 !important;
}

/**********************footer part css*******************/
/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_footer.scss */
.footer_part {
  padding: -200px 0px 0px;
  position: relative;
  background-color: #00A3B4 !important;
  height: 260px;
  margin-bottom: 5;
}

.icon_bawah img {
  text-align: center;
}

.footer_part h6 {
  color: #fff;
}

@media (max-width: 991px) {

  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_footer.scss */
  .footer_part {
    padding: 70px 0px 25px;
    background-color: #00A3B4 !important;
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {

    /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_footer.scss */
    .footer_part {
      padding: 80px 0px 25px;
    }
  }

  /* line 93, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
  h1 {
    font-size: 36px;
  }

  /* line 97, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
  h2 {
    font-size: 30px;
  }

  /* line 101, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
  h3 {
    font-size: 24px;
  }

  /* line 105, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
  h4 {
    font-size: 18px;
  }

  /* line 109, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
  h5 {
    font-size: 16px;
  }

  /* line 113, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
  h6 {
    font-size: 14px;
  }

  /* line 117, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
  }
}

/* line 127, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_elements.scss */
/* .typography h1,
  .typography h2,
  .typography h3,
  .typography h4,
  .typography h5,
  .typography h6 {
    ;
  } */



/* #sourceMappingURL=../css/style.map*/